/* CSS Reset modified from https://www.joshwcomeau.com/css/custom-css-reset/ */ 

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* End of CSS Reset */ 

* {
  --primary-background-color: #ffffff;   
  --secondary-background-color: #E2E8EF;
  --accent-background-color: #1A92D4;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;   
}

ul {
  padding: 0;
  list-style: none;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 8px;
}

footer > a {
  text-decoration: underline dotted;
  text-underline-offset: 2px;
  color: var(--secondary-text-color);
}

.container {
  display: grid;
  grid-template-columns: 316px 3fr;
  grid-template-rows: 180px auto;
  height: 100vh;
  position: relative;
}

.sidebar {
  grid-row: 1 / span 2;
  background-color: var(--accent-background-color);
  color: var(--secondary-text-color);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 24px;
}

.menu-item {
  display: flex;
  gap: 12px;
}

.icon {
  filter: invert(1);
  width: 22px;
}

.header .icon {
  width: 40px;
}

.menu, .secondary-menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.menu-link {
  font-size: 1.1rem;
  font-weight: 500;
}

.top-menu {
  background-color: var(--primary-background-color);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.search-field {
  width: 400px;
}

.profile {
  display: flex;
  gap: 16px;
}

.content {
  background-color: var(--secondary-background-color);
  display: grid;
  grid-template-columns: 3fr 1fr;
}